@import "colors.rasi"

* {
    font: "JetBrainsMono Nerd Font 11";
    text-color: @on-surface;
    background-color: transparent;
}

window {
    width: 600px;
}

mainbox {
    spacing: 12px;
    padding: 12px;
    background-color: @surface;
    border: 1px;
    border-color: @surface-container;
    border-radius: 12px;
}

inputbar {
    spacing: 8px;
    padding: 8px 12px;
    background-color: @surface-container;
    border-radius: 8px;
    children: [ prompt, entry ];
}

prompt {
    text-color: @primary;
}

message {
    padding: 0 12px;
    text-color: @outline;
}

textbox {
    text-color: inherit;
    vertical-align: 0.5;
}

listview {
    lines: 8;
    columns: 2;
}

element {
    padding: 8px 12px;
    spacing: 8px;
    border-radius: 8px;
}

element-icon {
    size: 20px;
}

element selected.normal, element-text selected.normal {
    text-color: @on-primary;
    background-color: @primary;
}

error-message {
    padding: 12px;
    text-color: @on-error;
    background-color: @error;
    border: 1px;
    border-color: @on-error;
    border-radius: 12px;
}
