@import "colors.rasi"

* {
    background-color: transparent;
}

window {
    width: 145px;
    location: north;
    margin: 17px 0 0 0;
    background-color: @surface;
    border: 1px;
    border-color: @surface-container;
    border-radius: 12px;
}

mainbox {
    children: [ listview ];
}

listview {
    lines: 1;
    columns: 3;
    spacing: 6px;
    padding: 6px;
}

element {
    padding: 4px 0;
    border-radius: 8px;
}

element-text {
    font: "JetBrainsMono Nerd Font Propo 13";
    text-color: @on-surface;
    vertical-align: 0.5;
    horizontal-align: 0.5;
}

element selected.normal, element-text selected.normal {
    text-color: @on-primary;
    background-color: @primary;
}
