@import "colors.css";

* {
    all: unset;
    transition: 100ms ease-in;
}

window {
    color: @on_surface;
    background: @surface;
}

button {
    margin: 8px;
    border-radius: 12px;
    background-repeat: no-repeat;
    background-position: center;
}

button:focus,
button:active,
button:hover {
    background-color: @surface_container;
}

#lock {
    background-image: url("icons/lock.png");
}

#suspend {
    background-image: url("icons/suspend.png");
}

#shutdown {
    background-image: url("icons/shutdown.png");
}

#reboot {
    background-image: url("icons/reboot.png");
}

#logout {
    background-image: url("icons/logout.png");
}
